/* .fruits{
    background-image: url("https://previews.123rf.com/images/moonshine/moonshine2002/moonshine200200045/141111986-vegetables-and-fruits-vector-illustrations-narrow-horizontal-banner-about-healthy-food.jpg")
} */

/* img{
    height: 80px;

}

.fruits{
    background-image: url("https://image.freepik.com/free-vector/fruits-vegetables-horizontal-composition_1284-29854.jpg");
    background-repeat: no-repeat;
} */

